h1{ 
    color:#008000
}
*{
    border:solid;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
p{
    text-align: center;
}
body{
    background-color :#009090
}